<ion-header class="header">
  <ion-buttons slot="start" class="custom-menu-button">
    <ion-menu-button class="custom-button" color="medium"></ion-menu-button>
  </ion-buttons>
  <h1>
    Administração <ion-icon name="arrow-forward-outline"></ion-icon> Clientes
  </h1>
</ion-header>

<ion-content [fullscreen]="true">
  <main>
    <div>
      <div class="search-box">
        <input type="text" class="custom-searchbar" placeholder="Pesquisar">
        <button>
          <ion-icon name="search-outline"></ion-icon>
        </button>
      </div>

      <button id="add" (click)="adicionarCliente()">
        <p>Cadastrar Cliente</p>
      </button>
    </div>

    <ion-grid class="table-container">
      <ion-row id="row-header">
        <ion-col>Nome</ion-col>
        <ion-col>E-mail</ion-col>
        <ion-col>Telefone</ion-col>
        <ion-col class="functions-col">Funções</ion-col>
      </ion-row>

      <ion-row *ngFor="let cliente of clientes">
        <ion-col>{{ cliente.nome }}</ion-col>
        <ion-col>{{ cliente.email }}</ion-col>
        <ion-col>{{ cliente.telefone }}</ion-col>

        <ion-col class="ion-text-right" class="functions-col">
          <ion-buttons>
              <ion-button class="remover" (click)="removerCliente(cliente)">
                  <ion-icon name="trash"></ion-icon>
                  <p>Remover</p>
              </ion-button>
              <ion-button class="alterar" (click)="alterarCliente(cliente)">
                  <ion-icon name="create"></ion-icon>
                  <p>Atualizar</p>
              </ion-button>
          </ion-buttons>
      </ion-col>
      

      </ion-row>
    </ion-grid>
  </main>
</ion-content>