<ion-header>
  <ion-toolbar>
    <ion-title>Novo Funcionário</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="fecharModal()" id="cancel-button">
        <ion-icon name="close"></ion-icon>
        <p>cancelar</p>
      </ion-button>

      <ion-button (click)="salvarAlteracoes()" id="save-button">
        <ion-icon name="checkmark-outline"></ion-icon>
        <p>Cadastrar</p>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="newEmployeeForm">
    <ion-item>
      <ion-input name="nome" type="text" label="Nome completo *" labelPlacement="floating" formControlName="nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input name="email" type="email" label="Email *" labelPlacement="floating" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input name="cpf" type="text" label="CPF *" labelPlacement="floating" formControlName="cpf"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input name="cargo" type="text" label="Cargo *" labelPlacement="floating" formControlName="cargo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input name="telefone" type="tel" label="Telefone *" labelPlacement="floating" formControlName="telefone"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input name="endereco" type="text" label="Endereço *" labelPlacement="floating" formControlName="endereco"></ion-input>
    </ion-item>
  </form>
</ion-content>