<ion-header>
  <ion-toolbar>
    <ion-title>Novo Pedido</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="fecharModal()" id="cancel-button">
        <ion-icon name="close"></ion-icon>
        <p>Cancelar</p>
      </ion-button>

      <ion-button (click)="salvarAlteracoes()" id="save-button">
        <ion-icon name="checkmark-outline"></ion-icon>
        <p>Salvar</p>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="pedidoForm">

    <ion-grid *ngIf="produtosSelecionados.length > 0; else noProducts">
      <ion-row>
        <ion-col size="4">
          <ion-label><strong>Nome do Produto</strong></ion-label>
        </ion-col>
        <ion-col size="4">
          <ion-label><strong>Quantidade</strong></ion-label>
        </ion-col>
        <ion-col size="4">
          <ion-label><strong>Ações</strong></ion-label>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let produto of produtosSelecionados" class="row-produto">
        <ion-col size="4">
          <ion-label>
            <span class="produto-nome">
              {{ produto.nome }}
            </span>
          </ion-label>
        </ion-col>
        <ion-col size="4">
          <ion-label>
            {{ produto.quantidade }}
          </ion-label>
        </ion-col>
        <ion-col size="2">
          <ion-button class="botao-remover-produto" (click)="removerProduto(produto)" color="danger" fill="outline">
            Remover
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Produtos Selecionados -->
    <div id="box-produto">
      <ion-button id="button-adc-produto" color="light" fill="outline" (click)="novoProduto()">Adicionar Produto
        <ion-icon id="icon-adc-produto" name="add-circle"></ion-icon>
      </ion-button>
    </div>

    <ng-template #noProducts>
      <p class="produtos-lista">
        <ion-label id="nenhum-produto">Nenhum produto selecionado</ion-label>
      </p>
    </ng-template>
    

    <ion-item>
      <ion-select labelPlacement="floating" label="Fornecedor *" formControlName="cnpj_fornecedor">
        <ion-select-option [value]="fornecedor.cnpj" *ngFor="let fornecedor of fornecedoresFiltrados">
          {{fornecedor.nome}} </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-input name="data_pedido" type="date" placeholder="Data do Pedido *" label="Data do Pedido *"
        formControlName="data_pedido" labelPlacement="floating"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input name="previsao_entrega" type="date" placeholder="Previsão de Entrega *" label="Previsão de Entrega *"
        formControlName="previsao_entrega" labelPlacement="floating"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input name="metodo_entrega" type="text" label="Método de Entrega *" labelPlacement="floating"
        formControlName="metodo_entrega"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input name="valor_total" type="text" label="Valor Total *" labelPlacement="floating"
        formControlName="valor_total" [maskito]="maskitoPrice" [maskitoElement]="maskPredicate"></ion-input>
    </ion-item>

    <ion-item>
      <ion-select labelPlacement="floating" label="Status do Pedido *" formControlName="status_pedido">
        <ion-select-option value="Solicitado">Solicitado</ion-select-option>
        <ion-select-option value="Pendente">Pendente</ion-select-option>
        <ion-select-option value="Cancelado">Cancelado</ion-select-option>
        <ion-select-option value="Concluído">Concluído</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-input name="observacoes" type="text" label="Observações" labelPlacement="floating"
        formControlName="observacoes"></ion-input>
    </ion-item>
  </form>
</ion-content>