@import '/src/app/mixins/mixin-modal.scss';

#icon-adc-produto {
    color: rgb(41, 41, 41);
    margin-left: 8px;
}

#button-adc-produto {
    margin-left: 10px;
}

.produto-nome {
    font-size: 1.1rem;
}

#nenhum-produto {
    color: rgb(255, 17, 0);
}

.item-produto {
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 3px;
}

.botao-remover-produto {
    width: 90px;
    font-size: .7rem;
}

.row-produto {
    border-bottom: 1px solid lightgray;
    align-items: center;
}