@import '/src/app/mixins/mixin-modal.scss';

.produtos-lista {
    margin: 5px 0;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 1rem;

    padding: 20px 5px 5px 5px;

    #label-produtos {
        font-size: 1.1rem;
        border-bottom: 1px solid lightgray;
        margin-bottom: 7px !important;
        margin: 0;
    }
}

#box-produto {
    // border: 1px solid lightgray;
}

#icon-adc-produto {
    color: rgb(41, 41, 41);
    margin-left: 8px;
}

#button-adc-produto {
    margin-left: 10px;
}

.produto-nome {
    font-size: 1.1rem;
}

#nenhum-produto {
    color: rgb(255, 17, 0);
}

.item-produto {
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 3px;
}

.botao-remover-produto {
    width: 90px;
    font-size: .7rem;
}

.row-produto {
    border-bottom: 1px solid lightgray;
}