@import '/src/app/mixins/mixin-crud.scss';

* {
    @include reset-box-model;
}

ion-content {
    --background: var(--background-color);
}

.header {
    @include flex-container;
    @include font-snipplet;


    h1 {
        @include title;
    }

    background-color: #fff;
}

main {
    @include font-snipplet;
    margin-top: 5vh;

    div {
        @include flex-container;
        padding: 0 20px;

        .search-box {
            width: 50vw;
            @include flex-container;

            .custom-searchbar {
                @include search-bar-styles;

                @media screen and (max-width: 900px) {
                    height: 35px;
                }

                @media screen and (max-width: 500px) {
                    width: 100%;
                }
            }

            button {
                @include button-styles;

                @media screen and (max-width: 900px) {
                    height: 35px;
                }
            }

            @media screen and (max-width: 900px) {
                width: 80vw;
            }

            @media screen and (max-width: 500px) {
                width: 100vw;
            }
        }

        #add-produto {
            @include generic-button;
        }

        @media screen and (max-width: 500px) {
            padding: 0 5px;
        }
    }

    ion-list {
        gap: 5px;
        margin-top: 30px;

        @include list-item-styles;
        @include odd-list-item;
    }
}
