<ion-header class="header">
  <ion-buttons slot="start" class="custom-menu-button">
    <ion-menu-button class="custom-button" color="medium"></ion-menu-button>
  </ion-buttons>
  <h1>
    Administração <ion-icon name="arrow-forward-outline"></ion-icon> Produtos
  </h1>
</ion-header>

<ion-content [fullscreen]="true">
  <main>
    <div>
      <div class="search-box">
        <input type="text" [(ngModel)]="searchTerm" placeholder="Pesquisar" class="custom-searchbar"
          (change)="searchProducts()">
        <button (click)="searchProducts()">
          <ion-icon name="search-outline"></ion-icon>
        </button>
      </div>

      <button id="add" (click)="adicionarProduto()">
        <p>Cadastrar produto</p>
      </button>
    </div>

    <ion-grid class="table-container">
      <ion-row id="row-header">
        <ion-col>Images</ion-col>
        <ion-col>Nome</ion-col>
        <ion-col>Categoria</ion-col>
        <ion-col>Preço</ion-col>
        <ion-col>Descrição</ion-col>
        <ion-col class="functions-col">Funções</ion-col>
      </ion-row>


      @if (!temProduto) {
        <ion-row>
          <ion-col style="background-color: var(--ion-color-danger);">Nada Encontrado</ion-col>
        </ion-row>
        }

      @for(produto of produtosFiltrados; track produto.cod) {
      <ion-row>

        <ion-col style="display: flex; align-items: center; justify-content: flex-start;">
          <div *ngIf="!isLoading; else loading" style="margin: 0; padding: 0;">
            <img *ngFor="let image of produto.images" style="width: 35px; height: 35px; margin: 5px;" [src]="image"
              alt="Imagem do Produto" role="presentation">
          </div>
          <ng-template #loading>
            Carregando...
          </ng-template>
        </ion-col>

        <ion-col>{{ produto.nome }}</ion-col>
        <ion-col>{{ produto.categoria }}</ion-col>
        <ion-col> R$ {{ produto.preco }}</ion-col>
        <ion-col>{{ produto.descricao }}</ion-col>

        <ion-col class="functions-col">
          <ion-buttons>
            <ion-button class="remover" (click)="removerProduto(produto)">
              <ion-icon name="trash"></ion-icon>
              <p>Remover</p>
            </ion-button>
            <ion-button class="alterar" (click)="alterarProduto(produto)">
              <ion-icon name="create"></ion-icon>
              <p>Atualizar</p>
            </ion-button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    }

    </ion-grid>
  </main>
</ion-content>