<ion-content [fullscreen]="true">

  <main>
    <div class="container">
      <div class="container-topo">
        <img id="cachorro-topo" src="./assets/cachorro-login.png" alt="">

        <div id="popup-fala">
          <p>Au Au Au</p>
        </div>

        <div id="first-child">
          <span></span>
        </div>
        <div>
          <span></span>
        </div>
      </div>
      <div class="container-content">
        <h2>Signup</h2>
        <div>
          <div class="item-input">
            <label for="">nome de usuário</label>
            <ion-input></ion-input>
          </div>

          <div class="item-input">
            <label for="">e-mail</label>
            <ion-input type="e-mail"></ion-input>
          </div>

          <div class="item-input">
            <label for="">senha</label>
            <ion-input type="password"></ion-input>
          </div>
        </div>
        <div class="container-entrar">
          <ion-button><p>Cadastrar</p></ion-button>
          <a href="">Já possuo uma conta</a>
        </div>
      </div>
    </div>
  </main>
 
</ion-content>
