@mixin container-styles {
  background-color: #fff;
  width: 40vw;
  border-radius: 30px;
  border: 3px solid black;

  @media screen and (max-width: 900px) {
    width: 65vw;
  }

  @media screen and (max-width: 500px) {
    width: 90vw;
  }
}

@mixin container-topo-styles {
  background-color: #ec8637;
  border-radius: 30px 30px 0 0;
  height: 40px;
  box-shadow: 2px 2px 0.7px 0px #cfcfcf inset;
  border-bottom: 3px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;

  #cachorro-topo {
    position: absolute;
    top: -86px;
    left: 30px;
    width: 100px;
    height: 100px;
    z-index: -10;
    transition: .3s linear;
  }

  .selecionado {
    transform: translateY(50px);
  }

  #first-child {
    left: 50px;
    width: 50%;
  }

  #first-child,
  > div:last-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 100%;
    margin: 0;

    span {
      position: relative;
      width: 15px;
      height: 13px;
      background-color: #ffffff;
      border-radius: 50%;
    }

    span::before,
    span::after {
      content: "";
      position: absolute;
      width: 15px;
      height: 13px;
      background-color: #ffffff;
      border-radius: 50%;
    }

    span::before {
      transform: translateX(-30px);
    }

    span::after {
      transform: translateX(30px);
    }
  }

  > div:last-child {
    float: right;
    right: 50px;

    span {
      width: 8px;
      height: 10px;
      background-color: #303030;
      border-radius: 5px;
    }

    span::before,
    span::after {
      content: "";
      position: absolute;
      width: 8px;
      height: 10px;
      background-color: #303030;
      border-radius: 5px;
    }

    span::before {
      transform: translateX(-30px);
    }

    span::after {
      transform: translateX(30px);
    }
  }
}

@mixin container-content-styles {
  padding: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  #container-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 80px;

    h2 {
      font-size: 2.5rem;
      margin-bottom: 20px;
      text-align: left;
    }

    #pet-logo {
      width: 65px;
      height: 65px;
      filter: grayscale(1);
    }

    #pet-logo:hover {
      transition: 0.3s;
      filter: grayscale(0);
    }
  }

  > form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;

    ion-input {
      height: 40px;
      border-radius: 13px 13px 0 0;
      border: 1px solid #b6b6b6;
      background: rgba(36, 153, 196, 0.12);
      margin-bottom: 15px;
    }

    .item-input {
      display: flex;
      flex-direction: column;

      label {
        margin-left: 5px;
      }
    }
  }

  .container-entrar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 20px 0;

    ion-button {
      --border-radius: 13px;
      --background: #2499c4;
      height: 40px;

      p {
        color: #fff;
        text-shadow:
          0px 4px 4px rgba(0, 0, 0, 0.25),
          0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Sniglet;
        font-size: 1.2rem;
        font-weight: 400;
      }
    }
  }
}

ion-content {
  --background: var(--background-color);
  font-family: "sniglet", sans-serif;

  main {
    width: 100vw;
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
      @include container-styles;

      .container-topo {
        @include container-topo-styles;
      }

      .container-content {
        @include container-content-styles;
      }
    }
  }
}