<ion-header>
  <ion-toolbar>
    <ion-title>Atualizar Pet</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="fecharModal()" id="cancel-button">
        <ion-icon name="close"></ion-icon>
        <p>cancelar</p>
      </ion-button>

      <ion-button (click)="salvarAlteracoes()" id="save-button">
        <ion-icon name="checkmark-outline"></ion-icon>
        <p>Atualizar</p>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="updatePetForm">
    <ion-item>
      <ion-input name="nome" type="text" label="Nome do pet *" labelPlacement="floating"
        formControlName="nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input name="especie" type="text" label="Espécie *" labelPlacement="floating"
        formControlName="especie"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input name="raca" type="text" label="Raça *" labelPlacement="floating" formControlName="raca"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input name="nascimento" type="date" label="Data de nascimento *" labelPlacement="floating"
        formControlName="nascimento"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input name="cor" type="text" label="Cor *" labelPlacement="floating" formControlName="cor"></ion-input>
    </ion-item>

    <ion-item>
      <ion-select labelPlacement="floating" label="Gênero *" formControlName="genero">
        <ion-select-option value="m">Masculino</ion-select-option>
        <ion-select-option value="f">Feminino</ion-select-option>
      </ion-select>
    </ion-item>


    <ion-item>
      <ion-select labelPlacement="floating" label="Tutor *" formControlName="tutor">
        <ion-select-option [value]="tutor.cpf" *ngFor="let tutor of filteredTutores"> {{tutor.nome}} </ion-select-option>
      </ion-select>
      <!-- <ion-input placeholder="filtrar tutor" formControlName="tutor-search" (ionChange)="filterTutors()"></ion-input> -->
      <!-- <ion-button color="light" (click)="newClient()"><ion-icon name="add-circle" color="dark"></ion-icon></ion-button> -->
    </ion-item>

  </form>
</ion-content>