<ion-header class="header">
  <ion-buttons slot="start" class="custom-menu-button">
    <ion-menu-button class="custom-button" color="medium"></ion-menu-button>
  </ion-buttons>
  <h1>
    Administração <ion-icon name="arrow-forward-outline"></ion-icon> Fornecedores
  </h1>
</ion-header>

<ion-content [fullscreen]="true">
  <main>
    <div>
      <div class="search-box">
        <input type="text" [(ngModel)]="searchTerm" placeholder="Pesquisar" class="custom-searchbar"
          (change)="searchSupplier()">
        <button (click)="searchSupplier()">
          <ion-icon name="search-outline"></ion-icon>
        </button>
      </div>

      <button id="add" (click)="adicionarFornecedor()">
        <p>Cadastrar Fornecedor</p>
      </button>
    </div>

    <ion-grid class="table-container">
      <ion-row id="row-header">
        <ion-col>Empresa</ion-col>
        <ion-col>CNPJ</ion-col>
        <ion-col>Representante</ion-col>
        <ion-col>E-mail</ion-col>
        <ion-col>Telefone</ion-col>

        <ion-col>Funções</ion-col>
      </ion-row>

      @if (!temFornecedor) {
      <ion-row>
        <ion-col style="background-color: var(--ion-color-danger); font-size: .8rem;">Nenhum fornecedor encontrado!</ion-col>
      </ion-row>
      }

      @for(fornecedor of fornecedoresFiltrados; track fornecedor.cnpj) {
      <ion-row>
        <ion-col>{{ fornecedor.nome }}</ion-col>
        <ion-col>{{ formatarCnpj(fornecedor.cnpj) }}</ion-col>
        <ion-col>{{ fornecedor.representante }}</ion-col>
        <ion-col>{{ fornecedor.email }}</ion-col>
        <ion-col>{{ formatarTelefone(fornecedor.fone) }}</ion-col>

        <ion-col class="ion-text-right" class="functions-col">
          <ion-buttons>
            <ion-button class="remover" title="Remover fornecedor"  (click)="deleteSupplier(fornecedor)">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
            <ion-button class="alterar" title="Editar fornecedor" (click)="atualizarFornecedor(fornecedor)">
              <ion-icon name="create"></ion-icon> 
            </ion-button>
          </ion-buttons>
        </ion-col>

      </ion-row>
      }

    </ion-grid>
  </main>
</ion-content>