<ion-header class="header">
  <ion-buttons slot="start" class="custom-menu-button">
    <ion-menu-button class="custom-button" color="medium"></ion-menu-button>
  </ion-buttons>
  <h1 >
    Administração <ion-icon name="arrow-forward-outline"></ion-icon> Funcionários
  </h1>
</ion-header>

<ion-content [fullscreen]="true">
  <main>
    <div>
      <div class="search-box">
        <input type="text" class="custom-searchbar" placeholder="Pesquisar">
        <button>
          <ion-icon name="search-outline"></ion-icon>
        </button>
      </div> 
      
      <button id="add" (click)="adicionarFuncionario()">
        <p>Cadastrar Funcionário</p>
      </button>
    </div>

    <ion-list>
      <ion-item *ngFor="let funcionario of funcionarios">
        <ion-label>{{ funcionario.nome }}</ion-label>
        <ion-label>{{ funcionario.cpf }}</ion-label>
        <ion-label>{{ funcionario.cargo }}</ion-label>
        <ion-buttons slot="end">
          <ion-button class="remover" (click)="removerFuncionario(funcionario)" >
            <ion-icon name="trash"></ion-icon>
            <p>Remover</p>
          </ion-button>
          <ion-button class="alterar"  (click)="alterarFuncionario(funcionario)">
            <ion-icon name="create"></ion-icon>
            <p>Atualizar</p>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-list>
  </main>
</ion-content>