<ion-header class="header">
  <ion-buttons slot="start" class="custom-menu-button">
    <ion-menu-button class="custom-button" color="medium"></ion-menu-button>
  </ion-buttons>
  <h1>
    Administração <ion-icon name="arrow-forward-outline"></ion-icon> Funcionários
  </h1>
</ion-header>

<ion-content [fullscreen]="true">
  <main>
    <div>
      <div class="search-box">
        <input type="text" [(ngModel)]="searchTerm" placeholder="Pesquisar" class="custom-searchbar" (change)="searchEmployees()">
        <button (click)="searchEmployees()">
          <ion-icon name="search-outline"></ion-icon>
        </button>
      </div>

      <button id="add" (click)="adicionarFuncionario()">
        <p>Cadastrar Funcionário</p>
      </button>
    </div>

    <ion-grid class="table-container">
      <ion-row id="row-header">
        <ion-col>Nome</ion-col>
        <ion-col>CPF</ion-col>
        <ion-col>Cargo</ion-col>
        <ion-col>Telefone</ion-col>
        <ion-col class="functions-col">Funções</ion-col>
      </ion-row>

      <ion-row *ngIf="!temFuncionario" >
        <ion-col style="background-color: var(--ion-color-danger);">Nenhum Funcionário Encontrado</ion-col>
      </ion-row>

      <ion-row *ngFor="let funcionario of funcionariosFiltrados">
        <ion-col>{{ funcionario.nome }}</ion-col>
        <ion-col>{{ funcionario.cpf }}</ion-col>
        <ion-col>{{ funcionario.cargo }}</ion-col>
        <ion-col>{{ funcionario.telefone }}</ion-col>

        <ion-col class="functions-col">
          <ion-buttons>
            <ion-button class="remover" (click)="removerFuncionario(funcionario)">
              <ion-icon name="trash"></ion-icon>
              <p>Remover</p>
            </ion-button>
            <ion-button class="alterar" (click)="alterarFuncionario(funcionario)">
              <ion-icon name="create"></ion-icon>
              <p>Atualizar</p>
            </ion-button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </main>
</ion-content>