<ion-content [fullscreen]="true">
  <main>
    <div class="container">
      <div class="container-topo">
        <img id="cachorro-topo" src="./assets/cachorro-login.png" [ngClass]="{'selecionado': isInputSelecionado}"
          alt="">

        <div id="first-child">
          <span></span>
        </div>

        <div>
          <span></span>
        </div>
      </div>
      <div class="container-content">
        <div id="container-title">
          <img id="pet-logo" src="./assets/pet-logo.png" alt="" routerLink="">
          <h2>Login</h2>
        </div>
        <form action="" [formGroup]="loginForm">
          <div>
            <div class="item-input">
              <label for="">e-mail</label>
              <ion-input formControlName="email"></ion-input>
            </div>
            <div class="item-input">
              <label for="">senha</label>
              <ion-input id="input-password" type="password" (ionFocus)="inputFocus()" (ionBlur)="inputBlur()"
                [(ngModel)]="inputValue" formControlName="password"></ion-input>
            </div>
          </div>

          <ion-text class="ion-text-center" color="medium">
            <p routerLink="/">esqueci minha senha</p>
          </ion-text>

          <div class="container-entrar" >
            <ion-button (click)="login()">
              <p>Entrar</p>
            </ion-button>
            <ion-text color="medium">
              <p routerLink="/signup">Ainda não tenho uma conta</p>
            </ion-text>
          </div>
        </form>
      </div>
    </div>
  </main>

</ion-content>