ion-router-link {
    height: 100%;
}

ion-card {
    width: clamp(250px, 20vw, 350px);
    min-width: clamp(250px, 20vw, 350px);
    height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: Sniglet;

    ion-card-header {
        display: flex;
        align-items: center;
        img {
            width: 160px;
            height: 160px;
            object-fit: contain;
        }
    }

    ion-card-content {
        width: 100%;
        .title {
            font-size: 1.1rem;
        }
        .price {
            font-size: 1.4rem;
            color: #000;
            font-weight: bolder;
            margin: 50px 0;
        }
        .functions-box {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
            padding: 10px;
            
            ion-icon {
                width: 35px;
                height: 35px;
                color: #000;
                cursor: pointer;
            }
    
            ion-icon[name="heart"]:hover {
                transition: 0.2s;
                color: rgb(255, 85, 85);
            }
    
            ion-icon[name="cart"]:hover {
                transition: 0.2s;
                color: rgb(85, 147, 255);
            }
        }
    }

}
