<style>
  @import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');
  </style>
<link href="https://fonts.googleapis.com/css2?family=Sniglet&display=swap" rel="stylesheet">

<ion-app id="app">
  <div id="main-content"> </div>

  <ion-header class="header-edit" *ngIf="!isOnBlockPages()">
    <div id="box-title">
      <ion-buttons slot="start" class="custom-menu-button">
        <ion-menu-button class="custom-button" color="medium"></ion-menu-button>
      </ion-buttons>
    </div>

    <h1 style="display: flex; align-items: center;">
      <img src="./assets/pet-logo.png" alt="">
      Pet Club
    </h1>

    <div class="search-box">
      <input type="text" class="custom-searchbar" placeholder="Pesquisar">
      <button>
        <ion-icon name="search-outline"></ion-icon>
      </button>
    </div>

    <div id="login-box"  *ngIf="!isLoggedIn">
      <div>faça <span style="color: #2f87ec;" (click)="closeMenuAndNavigate('/login')">login</span> ou <br> <span style="color: #2f87ec;" (click)="closeMenuAndNavigate('/signup')">cadastre-se</span> </div>
    </div>

    <div id="login-box"  *ngIf="isLoggedIn">
      <div>Olá {{username}} </div>
    </div>

    <div id="cart-box">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-text>Carrinho</ion-text>
    </div>
  </ion-header>

  <ion-header class="header-edit-mobile" *ngIf="!isOnBlockPages()">
    <div id="header-top">
      <div>
        <div id="box-title">
          <ion-buttons slot="start" class="custom-menu-button">
            <ion-menu-button class="custom-button" color="medium"></ion-menu-button>
          </ion-buttons>
        </div>
        <h1 style="display: flex; align-items: center;">
          <img src="./assets/pet-logo.png" alt="">
          Pet Club
        </h1>
      </div>

      <div>
        <div id="login-box">
          <ion-icon name="person-circle-outline"></ion-icon>        
        </div>
        <div id="cart-box">
          <ion-icon name="cart-outline"></ion-icon>
        </div>
      </div>
    </div>

    <div class="search-box">
      <input type="text" class="custom-searchbar" placeholder="Pesquisar">
      <button>
        <ion-icon name="search-outline"></ion-icon>
      </button>
    </div>
  </ion-header>

  <ion-menu contentId="main-content" *ngIf="!isOnBlockPagesMenu()">
    <ion-header>
      <div id="box-person" style="display: flex; flex-direction: row; align-items: center;">
        <img src="./assets/pet-logo.png" alt="" style="width: 45px; height: 45px;">
        <ion-title *ngIf="!isLoggedIn">Olá, Faça seu login</ion-title>
        <ion-title *ngIf="isLoggedIn">Olá, {{username}}</ion-title>
      </div>
    </ion-header>

    <ion-content>
      <ion-list lines="none">
        <ion-item class="item-background-color" (click)="closeMenuAndNavigate('/home')">
          <ion-label>Início</ion-label>
        </ion-item>
        <ion-item class="item-background-color">
          <ion-label>Meus Pedidos</ion-label>
        </ion-item>
        <ion-item class="item-background-color" (click)="toggleAdminSubItems()">
          <ion-label>Administração</ion-label>
        </ion-item>
        <ion-list *ngIf="showAdminSubItems" id="sub-items-adm">
          <!-- <ion-text (click)="closeMenuAndNavigate('/funcionarios')">Funcionário</ion-text> -->
          <ion-text (click)="closeMenuAndNavigate('/fornecedores')">Fornecedor</ion-text>
          <ion-text (click)="closeMenuAndNavigate('/produtos-crud')">Produto</ion-text>
          <!-- <ion-text (click)="closeMenuAndNavigate('/estoque')">Estoque</ion-text> -->
          <ion-text (click)="closeMenuAndNavigate('/pedido')">Pedido</ion-text>
          <ion-text (click)="closeMenuAndNavigate('/clientes')">Cliente</ion-text>
          <ion-text (click)="closeMenuAndNavigate('/pet')">Pet</ion-text>
          <!-- <ion-text (click)="closeMenuAndNavigate('/venda')">Venda</ion-text> -->
          <!-- <ion-text (click)="closeMenuAndNavigate('/servico')">Serviço</ion-text> -->
          <!-- <ion-text (click)="closeMenuAndNavigate('/agendamento')">Agendamento</ion-text> -->
        </ion-list>
        <ion-item class="item-background-color">
          <ion-label>Minha conta</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>

    <div id="footer-menu"  *ngIf="!isLoggedIn">
      <ion-title id="login-button" (click)="closeMenuAndNavigate('/login')">Login</ion-title>
      <ion-title id="submit-button" (click)="closeMenuAndNavigate('/signup')">Cadastro</ion-title>
    </div>

    <div id="footer-menu"  *ngIf="isLoggedIn">
      <ion-title color="danger" (click)="logout()"><a href="/login">Logout</a></ion-title>
    </div>

  </ion-menu>

  <ion-router-outlet></ion-router-outlet>
</ion-app>