div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;

  .content {
    width: 50vw;

    .swiper-container {
      width: 95vw;
      height: 100%;

      swiper-slide {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 10px;

        img {
          border-radius: 10px;
          object-fit: contain;
          height: 92%;
        }

      }
    }
  }
  @media screen and (max-width: 950px) {
    height: auto;
  }
}