* {
    margin: 0;
    padding: 0;
}

ion-content {
    --background: rgb(227, 227, 227);
}

main {
    font-family: "sniglet", sans-serif;

    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 20px;

        .search-box {
            width: 45%;
            display: flex;
            align-items: center;

            .custom-searchbar {
                width: 80%;
                border-radius: 15px 0 0 15px;
                height: 50px;
                background-color: #fff;
                outline: none;
                border: none;
                text-indent: 10px;
            }

            button {
                background-color: #2499c4;
                height: 50px;
                width: 50px;
                border-radius: 0 15px 15px 0;

                ion-icon {
                    font-size: 1.5rem;
                    color: #000;
                }
            }
        }

        #add-funcionario {
            height: 50px;
            border-radius: 20px;
            max-width: 100px;
            background: #2499c4;
            color: #000;
            font-weight: bold;
            font-size: 1rem;
            flex-wrap: wrap;
        }
    }

    ion-list {
        gap: 5px;
        margin-top: 30px;

        ion-button {
            display: flex;
            flex-direction: column;

            p {
                font-size: 0.6rem;
            }
        }
    }
}
