* {
    margin: 0;
    padding: 0;
}

ion-content {
    --background: rgb(227, 227, 227);
}

main {
    font-family: "sniglet", sans-serif;

    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 20px;


        .search-box {
            width: 50vw;
            display: flex;
            align-items: center;

            .custom-searchbar {
                width: 80%;
                border-radius: 15px 0 0 15px;
                height: 50px;
                background-color: #fff;
                outline: none;
                border: none;
                text-indent: 10px;

                @media screen and (max-width: 900px) {
                    height: 35px;
                }

                @media screen and (max-width: 500px) {
                    width: 100%;
                }
            }

            button {
                background-color: #2499c4;
                height: 50px;
                width: 50px;
                border-radius: 0 15px 15px 0;

                @media screen and (max-width: 900px) {
                    height: 35px;
                }

                ion-icon {
                    font-size: 1.5rem;
                    color: #000;
                }

            }

            @media screen and (max-width: 900px) {
                width: 80vw;
            }

            @media screen and (max-width: 500px) {
                width: 100vw;
            }
        }

        #add-funcionario {
            height: 50px;
            border-radius: 20px;
            max-width: 100px;
            background: #2499c4;
            color: #000;
            font-weight: bold;
            font-size: 1rem;
            flex-wrap: wrap;

            @media screen and (max-width: 900px) {
                height: 35px;
                font-size: .9rem;
            }
        }

        @media screen and (max-width: 500px) {
            padding: 0 5px;
        }
    }

    ion-list {
        gap: 5px;
        margin-top: 30px;

        ion-button {
            display: flex;
            flex-direction: column;
            border-radius: 5px;

            p {
                font-size: 0.6rem;

                @media screen and  (max-width: 600px) {
                    display: none;
                }
            }
        }

        #remover-funcionario {
            background-color: #EC5858
        }

        #alterar-funcionario {
            background-color: #53DFD7
        }
    }
}
