<ion-header class="header">
  <ion-buttons slot="start" class="custom-menu-button">
    <ion-menu-button class="custom-button" color="medium"></ion-menu-button>
  </ion-buttons>
  <h1>
    Administração <ion-icon name="arrow-forward-outline"></ion-icon> Pet
  </h1>
</ion-header>

<ion-content [fullscreen]="true">
  <main>
    <div>
      <div class="search-box">
        <input type="text" [(ngModel)]="searchTerm" placeholder="Pesquisar" class="custom-searchbar"
          (change)="searchPet()">
        <button (click)="searchPet()">
          <ion-icon name="search-outline"></ion-icon>
        </button>
      </div>

      <button id="add" (click)="adicionarPet()">
        <p>Cadastrar Pet</p>
      </button>
    </div>
    <ion-grid class="table-container">
      <ion-row id="row-header">
        <ion-col>Nome</ion-col>
        <ion-col>Espécie</ion-col>
        <ion-col>Raça</ion-col>
        <ion-col>Gênero</ion-col>
        <ion-col>Tutor</ion-col>
        <ion-col class="functions-col">Funções</ion-col>
      </ion-row>

      @if (!temPet) {
        <ion-row>
          <ion-col style="background-color: var(--ion-color-danger); font-size: .8rem;">Nenhum pet encontrado!</ion-col>
        </ion-row>
      }

      @for(pet of petsFiltrados; track pet.cod) {
        <ion-row>
          <ion-col>{{ pet.nome }}</ion-col>
          <ion-col>{{ pet.especie }}</ion-col>
          <ion-col>{{ pet.raca }}</ion-col>
          <ion-col>{{ pet.genero }}</ion-col>
          <ion-col class="tutor-pet" (click)="abrirModalTutor(pet.tutor)">{{ pet.tutor?.nome || 'Sem tutor' }}</ion-col> <!-- Adiciona o nome do tutor -->

          <ion-col class="functions-col">
            <ion-buttons>
              <ion-button class="remover" (click)="removerPet(pet)">
                <ion-icon name="trash"></ion-icon>
              </ion-button>
              <ion-button class="alterar" (click)="atualizarPet(pet)">
                <ion-icon name="create"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      }
    </ion-grid>
  </main>
</ion-content>