/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

ion-alert.custom-alert {
    --backdrop-opacity: 0.7;
    width: 200px;
}

.custom-alert .alert-button-group {
    padding: 8px;
}

button.alert-button.alert-button-confirm {
    color: #01a291;
}

button.alert-button.alert-button-cancel {
    color: #ec5858;
}

.md button.alert-button.alert-button-confirm {
    border-radius: 4px;
}

.ios .custom-alert button.alert-button {
    border: 0.55px solid rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.2);
}

.ios button.alert-button.alert-button-cancel {
    border-right: 0;
    border-bottom-left-radius: 13px;
    border-top-left-radius: 13px;
}

.ios button.alert-button.alert-button-confirm {
    border-bottom-right-radius: 13px;
    border-top-right-radius: 13px;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgb(131, 131, 131) rgb(63, 63, 63);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: rgb(107, 107, 107);
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(100, 100, 100);
    border-radius: 20px;
    border: 3px solid rgb(116, 116, 116);
}
